
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a class="github-icon" href="https://github.com/F2had/blogwebsite" target="_blank"><i class="lab la-github la-2x "></i></a>
  </div>
</div>
</body>
</html>